{% extends 'layout.html' %}

{% block content %}

	<h1> {{ title }} </h1>

	<!-- Get status message -->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<span>{{ message }}</span>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<form method='POST'>

		{{ form.hidden_tag() }}

		<div class='mb-5'>
			{{ form.username.label(class='display-b') }}

			{% if form.username.errors %}
				{{ form.username() }}
				<!-- Block of errors -->
				<div> 
				{% for error in form.username.errors %}
					<span>{{ error }}</span>
				{% endfor %}
				</div>

			{% else %}

				{{ form.username() }}

			{% endif %}
		</div>

		<div class='mb-5'>
			{{ form.email.label(class='display-b') }}
			{% if form.email.errors %}
				{{ form.email() }}
				<!-- Block of errors -->
				<div> 
				{% for error in form.email.errors %}
					<span>{{ error }}</span>
				{% endfor %}
				</div>

			{% else %}

				{{ form.email() }}

			{% endif %}
		</div>

		<div class='mb-5'>
			{{ form.password.label(class='display-b') }}
			{% if form.password.errors %}
				{{ form.password() }}
				<!-- Block of errors -->
				<div> 
				{% for error in form.password.errors %}
					<span>{{ error }}</span>
				{% endfor %}
				</div>

			{% else %}

				{{ form.password() }}

			{% endif %}
		</div>

		<div class='mb-5'>
			{{ form.confirm_password.label(class='display-b') }}
			{% if form.confirm_password.errors %}
				{{ form.confirm_password() }}
				<!-- Block of errors -->
				<div> 
				{% for error in form.confirm_password.errors %}
					<span>{{ error }}</span>
				{% endfor %}
				</div>

			{% else %}

				{{ form.confirm_password() }}

			{% endif %}
		</div>

		<div class='mb-5'>
			{{ form.submit.label(class='display-b') }}
			{{ form.submit() }}
		</div>
		
	</form>

{% endblock %}
